telethon
python-dotenv
pandas  # also for analytics/scorecard
openpyxl
unicodedata2 # for some environments, for Amharic normalization 
transformers
datasets
seqeval
numpy  # also for analytics/scorecard
shap
lime
matplotlib  # for scorecard visualization
seaborn    # for scorecard visualization 